#Download

#set($metadata = $xml.read("http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/maven-metadata.xml"))

**Latest release**

<table>
  <tbody>
    <tr>
      <th>Version</th>
      <th>Lucene/Solr</th>
      <th>Release</th>
      <th colspan='3'>GitHub</th>
      <th colspan='4'>Maven</th>
    </tr>
#set($version = $metadata.versioning.latest)
#set($fullversion = $version.getText())
#set($versionnumbers = $StringUtils.split($fullversion,"."))
#foreach( $item in $loop.watch($versionnumbers) )
#set($itemindex = $loop.getIndex())
#if ($itemindex == 0)
#set($majorversion = $item)
#elseif ($itemindex == 1)
#set($minorversion = $item)
#elseif ($itemindex == 2)
#set($incrementalversion = $item)
#elseif ($itemindex == 3)
#set($mtasversion = $item)
#end
#end  
    <tr>
      <td>${fullversion}</td>
      <td><a href='http://archive.apache.org/dist/lucene/solr/${majorversion}.${minorversion}.${incrementalversion}/'>${majorversion}.${minorversion}.${incrementalversion}</a></td>
      <td>${mtasversion}</td>
      <td><a href='https://github.com/meertensinstituut/mtas/releases/download/v${fullversion}/mtas-${fullversion}.jar'>Binary (jar)</a></td>
      <td><a href='https://github.com/meertensinstituut/mtas/archive/v${fullversion}.tar.gz'>Source (tgz)</a></td>
      <td><a href='https://github.com/meertensinstituut/mtas/archive/v${fullversion}.zip'>Source (zip)</a></td>
      <td><a href='http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/${fullversion}/mtas-${fullversion}.pom'>pom</a></td>      
      <td><a href='http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/${fullversion}/mtas-${fullversion}.jar'>jar</a></td>      
      <td><a href='http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/${fullversion}/mtas-${fullversion}-javadoc.jar'>javadoc.jar</a></td>      
      <td><a href='http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/${fullversion}/mtas-${fullversion}-sources.jar'>sources.jar</a></td>      
    </tr>   
    </tbody>
</table>

**Previous releases**

<table>
  <tbody>
    <tr>
      <th>Version</th>
      <th>Lucene/Solr</th>
      <th>Release</th>
      <th colspan='3'>GitHub</th>
      <th colspan='4'>Maven</th>
    </tr>
#foreach($version in $metadata.versioning.versions.children().iterator())
#set($fullversion = $version.getText())
#if($fullversion !=  $metadata.versioning.latest.getText())
#set($versionnumbers = $StringUtils.split($fullversion,"."))
#foreach( $item in $loop.watch($versionnumbers) )
#set($itemindex = $loop.getIndex())
#if ($itemindex == 0)
#set($majorversion = $item)
#elseif ($itemindex == 1)
#set($minorversion = $item)
#elseif ($itemindex == 2)
#set($incrementalversion = $item)
#elseif ($itemindex == 3)
#set($mtasversion = $item)
#end
#end  
    <tr>
      <td>${fullversion}</td>
      <td><a href='http://archive.apache.org/dist/lucene/solr/${majorversion}.${minorversion}.${incrementalversion}/'>${majorversion}.${minorversion}.${incrementalversion}</a></td>
      <td>${mtasversion}</td>
      <td><a href='https://github.com/meertensinstituut/mtas/releases/download/v${fullversion}/mtas-${fullversion}.jar'>Binary (jar)</a></td>
      <td><a href='https://github.com/meertensinstituut/mtas/archive/v${fullversion}.tar.gz'>Source (tgz)</a></td>
      <td><a href='https://github.com/meertensinstituut/mtas/archive/v${fullversion}.zip'>Source (zip)</a></td>
      <td><a href='http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/${fullversion}/mtas-${fullversion}.pom'>pom</a></td>      
      <td><a href='http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/${fullversion}/mtas-${fullversion}.jar'>jar</a></td>      
      <td><a href='http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/${fullversion}/mtas-${fullversion}-javadoc.jar'>javadoc.jar</a></td>      
      <td><a href='http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/${fullversion}/mtas-${fullversion}-sources.jar'>sources.jar</a></td>      
    </tr>
#end    
#end    
    </tbody>
</table>

See also the [Maven Central Repository](https://mvnrepository.com/artifact/nl.knaw.meertens.mtas/mtas) and [GitHub Releases](https://github.com/meertensinstituut/mtas/releases).
