#Getting started
#set($metadata = $xml.read("http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/maven-metadata.xml"))
#set($version = $metadata.versioning.latest)
#set($fullversion = $version.getText())
#set($versionnumbers = $StringUtils.split($fullversion,"."))
#foreach( $item in $loop.watch($versionnumbers) )
#set($itemindex = $loop.getIndex())
#if ($itemindex == 0)
#set($majorversion = $item)
#elseif ($itemindex == 1)
#set($minorversion = $item)
#elseif ($itemindex == 2)
#set($incrementalversion = $item)
#elseif ($itemindex == 3)
#set($mtasversion = $item)
#end
#end  

Prebuilt jar libraries are available from the [download](download.html) page, current version is [${fullversion}](https://github.com/meertensinstituut/mtas/releases/download/v${fullversion}/mtas-${fullversion}.jar) (development)

**Build from Source with Maven**

Download the source code from GitHub

``` console 
git clone git://github.com/meertensinstituut/mtas.git 
```

Build the library from the created project directory `mtas`

``` console 
mvn package 
```

After a successful build, the directory `target` will contain the new jar library.

**Installation**

Mtas can be used as plugin for [Apache Solr](https://lucene.apache.org/solr/) or as library in combination with [Apache Lucene](https://lucene.apache.org/). 

- Getting started with [Mtas and Lucene](installation_lucene.html)
- Getting started with [Mtas and Solr](installation_solr.html)

or see [Mtas and Docker](installation_docker.html) to get a quick demonstration. 

Versioning follows the required version of both Solr and Lucene followed by an incremental Mtas versioning number.
The latest available version is ${fullversion}, requiring Solr/Lucene version ${majorversion}.${minorversion}.${incrementalversion}.
