#Docker

A [Dockerfile](https://www.docker.com/) is available to get started quickly with 
Mtas on a Solr based installation.

To pull and run the image

```console
docker pull meertensinstituut/mtas
docker run -t -i -p 8080:80 --name mtas meertensinstituut/mtas
```

Or to build and run

```console
docker build -t mtas https://raw.githubusercontent.com/meertensinstituut/mtas/master/docker/Dockerfile
docker run -t -i -p 8080:80 --name mtas mtas
```

This wil make a site available on port 8080 from your docker host ip, 
containing access to the running solr instance and providing a demonstration 
scenario with indexing and querying of some sample documents.



