#Apache Solr
#set($metadata = $xml.read("http://central.maven.org/maven2/nl/knaw/meertens/mtas/mtas/maven-metadata.xml"))
#set($version = $metadata.versioning.latest)
#set($fullversion = $version.getText())
#set($versionnumbers = $StringUtils.split($fullversion,"."))
#foreach( $item in $loop.watch($versionnumbers) )
#set($itemindex = $loop.getIndex())
#if ($itemindex == 0)
#set($majorversion = $item)
#elseif ($itemindex == 1)
#set($minorversion = $item)
#elseif ($itemindex == 2)
#set($incrementalversion = $item)
#elseif ($itemindex == 3)
#set($mtasversion = $item)
#end
#end 

Mtas can be used as plugin for Apache Solr

**Prerequisites**

- Installed [Apache Solr](https://lucene.apache.org/solr/)
- Currently supported and advised version is ${majorversion}.${minorversion}.${incrementalversion}

Start with a new Solr core. **Make sure** the `solrconfig.xml` and `schema.xml` files
live in a `conf/` subdirectory of the core's directory; at least Solr 7.3.0 will report
the wrong path if they live elsewhere, and the broker will be broken.

**Libraries**

Add the `mtas-${fullversion}.jar` to the `lib` directory of the new Solr core. 
A prebuilt `mtas-${fullversion}.jar` is available from the [download](download.html) page.

Furthermore, add the [Apache Commons Mathematics Library](http://commons.apache.org/proper/commons-math/) to the `lib` directory of the new Solr core.

**conf/solrconfig.xml**

Some changes have to be made within the `solrconfig.xml` file, elements have to be added to the `<config/>` or existing elements have te be adjusted:

Define a new **mtas searchComponent**: 

```console
<searchComponent name="mtas" class="mtas.solr.handler.component.MtasSolrSearchComponent">
  <str name="collectionCacheDirectory">${solr.core.instanceDir}/cache/collection</str>
  <long name="collectionLifetime">86400</long>
  <int name="collectionMaximumNumber">1000</int>
  <int name="collectionMaximumOverflow">10</int>
</searchComponent>
```

Add this component to the select requestHandler by inserting the following within the 
`<requestHandler/>` with name `"/select"`:

``` console 
<arr name="last-components">
  <str>mtas</str>
</arr>
```   

Define a new **mtas_cql queryParser** and **mtas_join queryParser**:

```console
<queryParser name="mtas_cql" class="mtas.solr.search.MtasSolrCQLQParserPlugin"/>
<queryParser name="mtas_join" class="mtas.solr.search.MtasSolrJoinQParserPlugin"/>
``` 

Define a new **mtas requestHandler**:

```console
<requestHandler name="/mtas" class="mtas.solr.handler.MtasRequestHandler" />
```

Define a new updateRequestProcessorChain:

```console
<updateRequestProcessorChain name="mtasUpdateProcessor">
  <processor class="mtas.solr.update.processor.MtasUpdateRequestProcessorFactory" />
  <processor class="solr.LogUpdateProcessorFactory" />
  <processor class="solr.RunUpdateProcessorFactory" />
</updateRequestProcessorChain>
```

Define or adjust the update requestHandler with this updateRequestProcessorChain:

```console
<requestHandler name="/update" class="solr.UpdateRequestHandler">
  <lst name="defaults">
    <str name="update.chain">mtasUpdateProcessor</str>
  </lst>    
</requestHandler>
```
   
Finally, in this instruction we will use a classic schema instead of the 
managed-schema. So the configuration must contain:

```console
<schemaFactory class="ClassicIndexSchemaFactory"/>
```    
  
**conf/schema.xml**

We extend a (classic) schema with one (or multiple) fields that may contain 
annotated text, e.g.

```console
<field name="text" type="mtas" required="false" multiValued="false" indexed="true" stored="true" />
```   

We define the referred Mtas fieldType by

```console
<fieldType name="mtas" class="solr.TextField" postingsFormat="MtasCodec">
  <analyzer type="index">
    <tokenizer class="mtas.analysis.util.MtasTokenizerFactory" configFile="folia.xml" />
  </analyzer>
  <analyzer type="query">
    <tokenizer class="solr.WhitespaceTokenizerFactory" />
    <filter class="mtas.analysis.util.MtasPrefixTokenFilterFactory" prefix="t" />
  </analyzer>
</fieldType>
```

The tokenizer with class *mtas.analysis.util.MtasTokenizerFactory* in the index analyzer
has an attribute `configFile` containing the name of the required tokenizer configuration.

The filter in the query analyzer contains an obligatory attribute `prefix` defining the 
assumed prefix when this field will be queried directly within Solr.

See [configuration](indexing_configuration.html) for more information about
the definition of a tokenizer configuration.

**Multiple tokenizer configurations**

If multiple tokenizer configurations are required, the Mtas fieldType has to be 
defined slightly differently:

```console
<fieldType name="mtas_config" class="solr.TextField" postingsFormat="MtasCodec">
  <analyzer type="index">
    <tokenizer class="mtas.analysis.util.MtasTokenizerFactory" />
  </analyzer>
</fieldType>
<fieldType name="mtas" class="mtas.solr.schema.MtasPreAnalyzedField"
  followIndexAnalyzer="mtas_config"
  configurationFromField="type" setNumberOfTokens="numberOfTokens"
  setNumberOfPositions="numberOfPositions" setSize="size"
  setError="error" setPrefix="prefixes" setPrefixNumbers="prefix_" postingsFormat="MtasCodec">
  <analyzer type="query">
    <tokenizer class="solr.WhitespaceTokenizerFactory" />
    <filter class="mtas.analysis.util.MtasPrefixTokenFilterFactory" prefix="t" />
  </analyzer>
</fieldType>
```

An additional fieldType (here named mtas_config) is defined, containing 
only an index analyzer. The tokenizer within this analyzer has no attributes.
The configuration file for the tokenizer is the file conf/mtas/<collection_name>.xml
in the Solr core directory, e.g., `conf/mtas/HuygensING-heinsius.xml`.

The Mtas fieldType is defined with class *mtas.solr.schema.MtasPreAnalyzedField*, 
an obligatory attribute `followIndexAnalyzer` referring to the additional fieldType
we defined before.  The obligatory attribute `configurationFromField` contains the name
of the field defining the required configuration.

The optional attributes `setNumberOfTokens`, `setNumberOfPositions`, `setSize`, `setPrefix` and 
`setError` define fields that may be filled with respectively number of tokens, number of positions, 
filesize, prefixes and possible errors. The optional attribute `setPrefixNumbers` defines a prefix to be used
for adding for each occurring prefix a field with a name constructed from this `setPrefixNumbers` value 
followed by the prefix, and containing the number of occurrences of this prefix.
